name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup xmake
      uses: xmake-io/github-action-setup-xmake@v1
      with:
        xmake-version: latest
        
    - name: Configure xmake
      run: xmake f -p windows -a x64 -m release
      
    - name: Build C++ DLL
      run: xmake

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Build WPF UI
      run: dotnet build PolyHack.sln -c Release

    - name: Prepare Artifacts
      run: |
        New-Item -ItemType Directory -Force release_pack
        Copy-Item -Path "build/windows/x64/release/polhack.dll" -Destination "release_pack/poly.dll"
        Copy-Item -Path "UI/bin/Release/net8.0-windows/*" -Destination "release_pack/" -Recurse
        
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: PolytoriaExecutor
        path: release_pack/
